﻿
@{
    ViewBag.Title = "RMA - Data Bank";
}



<h2>RMA - Data Bank</h2>


<br />
These tools are used to modify or update site content...


<ul>
    <li>

        @Html.ActionLink("Manage Cities / Page Content", "Index", "AdminCity")

    </li>
</ul>

@*<form accept-charset="UTF-8" action="/admin/page/write_review" class="edit_page" id="edit_page_5" method="post">
    <div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="40BLm2VhUY9gY5fVC3O6DrCPLVM1bt/pf5Z30dplm1Q=" /></div>
    <div class='field' %>
        <dl>
            <label class="text-label" for="page_title">Title</label>
            <dd><input class="text-field-1" id="page_title" name="page[title]" placeholder="Title" type="text" value="How to Write A Review at Rate-My-Agent.com (RMA)" /></dd>
        </dl>
        <br><br>
        <dl>
            <label class="text-label" for="page_description">Description</label>
            <dd>
                <textarea class="text-field-1" id="page_description" name="page[description]">
                    Writing reviews and rating agents is easy at Rate-My-Agent.com.  Search and rate or create an agent and then review them.
                </textarea>
            </dd>
        </dl>
        <br>
        <label class="text-label" for="page_content">Content</label>
        <textarea class="ckeditor" cols="120" id="page_content" name="page[content]" rows="20">
            &lt;h1&gt;Write&amp;nbsp;Reviews at Rate-My-Agent.com&lt;/h1&gt;

            &lt;p dir=&quot;ltr&quot;&gt;&lt;span style=&quot;background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px&quot;&gt;First, search for the agent you want to review. (Use the search box at the top of every page.) &amp;nbsp;Once you find them, you can rate and review them on their profile page.&lt;/span&gt;&lt;/p&gt;

            &lt;p&gt;&lt;span style=&quot;background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px&quot;&gt;If you do not find them, you can easily &lt;a href=&quot;/agents/new&quot;&gt;add an agent&lt;/a&gt;, and then rate them. &amp;nbsp;It&amp;rsquo;s quick and easy!&lt;/span&gt;&lt;/p&gt;

            &lt;div&gt;&amp;nbsp;&lt;/div&gt;
        </textarea>
    </div>
    <div class='field'>
        <br>
        <input class="orange_btn" name="commit" type="submit" value="Save" />
        &nbsp;
        &nbsp;
        <a class="orange_btn" href="/admin">Back</a>
    </div>

    <style>
        .text-field-1 {
            font-size: 14px;
            color: #555555;
            background: #f8f8f8;
            border: 1px solid #c1c1c1;
            padding: 10px 10px;
            outline: none;
            width: 96%;
            border-radius: 4px;
            box-shadow: inset 0 0 9px 0px #d9d9d9;
        }
    </style>
</form> 

<script type="text/javascript">
    CKEDITOR.replace('page[content]');
</script>*@