﻿@model IEnumerable<RMA_SITE.Models.Agent>

@{
    ViewBag.Title = "Index";
}

<h2>Search Results</h2>

@Html.ActionLink("View as Tiles", "Listings", "Search", new { param = Request.Params["param"], v="t" }, null)
 

<table class="table">
    <tr>

        <th>
            Type
        </th>

        <th>
            Name
        </th>

        <th>
            City
        </th>

        <th>
            Province
        </th>

        <th>
            Country
        </th>

        <th>
            Rating
        </th>

        <th>
            Status
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.agent_type)
            </td>

            <td>

                @Html.ActionLink(item.first_name + " " + item.last_name, "ViewProfile", "Agents", new { id = item.ID }, null)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prov_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.average_overall_rating_cache)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Agents", new { id = item.ID }, null) |
                @Html.ActionLink("Details", "Details", "Agents", new { id = item.ID }, null) |
                @Html.ActionLink("Delete", "Delete", "Agents", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>

