﻿
      .admin_city_tabs input[type=radio] {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      .admin_city_tabs {
        width: 850px;
        float: none;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 75px auto;
		top: -50px;
		display: block;
		height: 300px;
      }
      .admin_city_tabs li{
        float: left;
      }
      .admin_city_tabs label {
          display: block;
          padding: 10px 20px;
          border-radius: 2px 2px 0 0;
          color: #C62828;
          font-size: 24px;
          font-weight: normal;

          background: rgba(255,255,255,0.2);
          cursor: pointer;
          position: relative;
          top: 3px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
           border-top-right-radius: 1em;
           border-top-left-radius: 1em;
      }
      .admin_city_tabs label:hover {
        background: rgba(255,200,200,0.5);
        top: 0;
      }
       
      [id^=tab]:checked + label {
        background: #C62828;
        color: white;
        top: 0;
      }
       
      [id^=tab]:checked ~ [id^=tab-content] {
          display: block;
      }
      .tab-content{
        z-index: 2;
        display: none;
        text-align: left;
        width: 100%;
        font-size: 20px;
        line-height: 140%;
        padding-top: 10px;
        background: #C62828;
        padding: 15px;
        color: white;
        position: absolute;
        top: 53px;
        left: 0;
        box-sizing: border-box;
        -webkit-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
       

      }


