body {
  padding-top: 70px;
  background-color: #FAFAFA;
}

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #C62828;
}
a:hover {
  color: #F44336;
  text-decoration: none;
}

.site-main {
  min-height: 400px;
  margin-bottom: 30px;
}

.page-title-wrap {
  margin: 35px 0;
  padding-bottom: 15px;
  border-bottom: dotted 1px #BDBDBD;
}
.page-title-wrap .page-title {
  color: #555;
  margin: 0;
}
.page-title-wrap .page-title-desc {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 16px;
  color: #777;
}
.page-title-wrap .page-title-desc a {
  color: #777;
}
.page-title-wrap .page-title-desc a:hover {
  color: #C62828;
}

.site-nav {
  border: none;
  background-color: #FAFAFA;
  border-top: solid 2px #C62828;
  border-bottom: solid 1px #EEEEEE;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.site-nav .navbar-brand {
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.site-nav .navbar-brand img {
  height: 50px;
}
.site-nav .navbar-toggle {
  margin-top: 18px;
}
.site-nav .navbar-nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .site-nav .navbar-nav > li > a {
    line-height: 40px;
  }
}
.site-nav .navbar-nav > li > a:hover:hover {
  background-color: #EEEEEE;
  color: #333;
}
@media (min-width: 992px) {
  .site-nav .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.site-nav .navbar-nav li a.nav-icon {
  color: #454547;
}
.site-nav .navbar-nav li a.nav-icon img {
  vertical-align: middle;
  width: 25px;
}
.site-nav .navbar-nav li a.nav-write {
  background-color: #C62828;
  color: #FFF;
}
.site-nav .navbar-nav li a.nav-write:hover {
  background-color: #D32F2F;
  color: #FFF;
}

.home-search-cont {
  background-image: url("../Resources/bg-search.jpg");
  background-size: cover;
  padding: 120px 0;
  margin-bottom: 30px;
  color: #FFF;
}
.home-search-cont .home-search > h2 {
  color: #FFF;
  font-size: 48px;
  margin-bottom: 30px;
  margin-top: 0;
}
.home-search-cont .form-home-search {
  display: inline-block;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
}
.home-search-cont .form-home-search .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.home-search-cont .form-home-search .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.home-search-cont .form-home-search .btn-search {
  background-color: #C62828;
  color: #FFF;
  border-color: #B71C1C;
  -webkit-box-shadow: 0px 0px 1px #C62828;
  -moz-box-shadow: 0px 0px 1px #C62828;
  box-shadow: 0px 0px 1px #C62828;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.home-search-cont .form-home-search .btn-search:hover {
  background-color: #D32F2F;
}

.page-search {
  padding: 15px 0;
  background-color: #F5F5F5;
}
.page-search .form-search .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.page-search .form-search .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.page-search .form-search .btn-search {
  background-color: #C62828;
  color: #FFF;
  border-color: #B71C1C;
  -webkit-box-shadow: 0px 0px 1px #C62828;
  -moz-box-shadow: 0px 0px 1px #C62828;
  box-shadow: 0px 0px 1px #C62828;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.page-search .form-search .btn-search:hover {
  background-color: #D32F2F;
}

.page-home h2.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #555;
  font-size: 28px;
}

.home-about {
  padding: 50px 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 32px;
  color: #777;
  margin-right: 40px;
}
.home-about .text-red {
  color: #C62828;
}

.home-featured {
  padding: 50px 0;
  margin-bottom: 20px;
}
.home-featured .home-featured-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
.home-featured .home-featured-list li {
  margin-bottom: 15px;
}
.home-featured .home-featured-list .featured-img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 15px;
  border: solid 1px #DDD;
}
.home-featured .home-featured-list .featured-img img {
  width: 100%;
}
.home-featured .home-featured-list .featured-name {
  font-size: 16px;
  line-height: 16px;
}
.home-featured .home-featured-list .featured-location {
  font-size: 12px;
  color: #777;
  font-weight: normal;
}
.home-featured .home-featured-list .featured-review {
  font-size: 12px;
  color: #555;
}
.home-featured .home-featured-list .featured-rate {
  font-size: 12px;
}
.home-featured .home-featured-list .featured-rate label:before {
  font-size: 14px;
}

.home-latest {
  background-color: #F5F5F5;
  padding: 50px 0;
  border-top: solid 2px #EEEEEE;
  border-bottom: solid 2px #EEEEEE;
  margin-bottom: 40px;
}
.home-latest .latest-img {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.home-latest .latest-img img {
  width: 100%;
}
.home-latest .latest-header {
  margin-top: 10px;
}
.home-latest .latest-header .latest-name {
  font-size: 18px;
}
.home-latest .latest-header .latest-location {
  font-size: 12px;
  color: #777;
  font-style: italic;
}
.home-latest .latest-review {
  margin-top: 15px;
  color: #555;
}
.home-latest .latest-rate {
  margin-top: 10px;
}

.star-rating {
  margin: 0;
  padding: 0;
  float: left;
}
.star-rating label {
  margin: 0;
  padding: 0;
  color: #DDD;
  float: right;
  cursor: pointer;
}
.star-rating > input {
  display: none;
}
.star-rating > label:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: '\f005';
  font-size: 18px;
}
.star-rating .half:before {
  content: "\f089";
  position: absolute;
}
.star-rating .star-na {
  margin-right: 15px;
}
.star-rating .star-na:before {
  content: "\f006";
}

.star-rating-static label {
  cursor: default;
}

.star-rating > input:checked ~ label,
.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */
/*na*/
.star-rating > input:checked ~ label.star-na,
.star-rating:not(:checked) > label.star-na:hover,
.star-rating:not(:checked) > label:hover ~ label.star-na {
  color: #DDD;
}

.star-rating > input.rating-input-na:checked ~ label,
.star-rating:not(:checked) > label.star-na:hover {
  color: #EF9A9A;
}

.star-rating > input:checked + label:hover,
.star-rating > input:checked ~ label:hover,
.star-rating > label:hover ~ input:checked ~ label,
.star-rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

/*na*/
/*.star-rating > input:checked + label:hover,
.star-rating > input:checked ~ label:hover,
.star-rating > label:hover ~ input:checked ~ label,
.star-rating > input:checked ~ label:hover ~ label { 
    color: #FFED85;  
}*/
.star-rating-static:not(:checked) > label:hover,
.star-rating-static:not(:checked) > label:hover ~ label {
  color: #DDD;
}

/* hover previous stars in list */
.star-rating-static > input:checked + label:hover,
.star-rating-static > input:checked ~ label:hover,
.star-rating-static > label:hover ~ input:checked ~ label,
.star-rating-static > input:checked ~ label:hover ~ label {
  color: #FFD700;
}

.home-city {
  padding: 40px 0;
  margin-bottom: 40px;
}
.home-city .home-city-links {
  margin-bottom: 30px;
}
.home-city .home-city-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.home-city .home-city-links ul li {
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
}
.home-city .home-city-links ul li a {
  display: inline-block;
  padding: 5px 10px;
  background: #F5F5F5;
}
.home-city .home-city-links ul li a:hover {
  background: #EEEEEE;
}
.home-city p {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.home-testimonial {
  padding: 30px 0;
  background-color: #C62828;
  color: #FFF;
}
.home-testimonial .carousel-control {
  background: none;
}
.home-testimonial .testimonial-wrap {
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 20px;
  min-height: 250px;
  height: auto;
}
.home-testimonial .testimonial-item .testimonial-img {
  height: 150px;
  width: 150px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #F44336;
  margin-bottom: 15px;
}
.home-testimonial .testimonial-item .testimonial-img img {
  width: 100%;
}
.home-testimonial .testimonial-item .testmonial-contents {
  font-size: 16px;
  color: #FAFAFA;
}
.home-testimonial .testimonial-item .testmonial-contents .testimonial-name {
  font-size: 20px;
  color: #FFF;
}
.home-testimonial .testimonial-item .testmonial-contents .testimonial-desc {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.card-agent {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.card-agent .card-img {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #EEEEEE;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.card-agent .card-img img {
  width: 100%;
}
.card-agent .card-header {
  margin-top: 10px;
}
.card-agent .card-header .card-name {
  font-size: 18px;
}
.card-agent .card-header .card-location {
  font-size: 12px;
  color: #777;
  font-style: italic;
}
.card-agent .card-review {
  margin-top: 10px;
  color: #555;
}
.card-agent .card-rate {
  margin-top: 10px;
}

.category-pagination {
  text-align: center;
}
.category-pagination .pagination > li > a, .category-pagination .pagination > li > span {
  color: #C62828;
}
.category-pagination .pagination > .active > a,
.category-pagination .pagination > .active > a:focus,
.category-pagination .pagination > .active > a:hover,
.category-pagination .pagination > .active > span,
.category-pagination .pagination > .active > span:focus,
.category-pagination .pagination > .active > span:hover {
  color: #FFF;
  background-color: #C62828;
  border-color: #C62828;
}

.single-info .single-photo {
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .single-info .single-photo {
    margin-bottom: 0;
  }
}
.single-info .single-photo img {
  max-width: 100%;
  height: auto;
}
.single-info .single-info-table {
  word-wrap: break-word;
  table-layout: fixed;
}
.single-info .single-info-table tr td:first-child {
  font-weight: bold;
  width: 30%;
}

.single-summary .table-summary {
  width: auto;
  max-width: 100%;
}
.single-summary .table-summary tr td:first-child {
  font-weight: bold;
  width: 50%;
  text-align: right;
}
.single-summary .table-summary > tbody > tr > td {
  border: none;
}

.single-review h3 {
  margin-bottom: 25px;
}
.single-review .review-panel {
  background-color: transparent;
  padding: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.single-review .review-panel .rate {
  color: #777;
  font-size: 12px;
  margin-bottom: 7px;
}
.single-review .review-panel .rate > label {
  margin-bottom: 0;
  font-weight: normal;
}
.single-review .review-panel .rate .star-rating > label:before {
  font-size: 14px;
}
.single-review .review-panel .rate .rate-value {
  font-weight: 700;
  font-size: 13px;
}
.single-review .review-panel .review-comment label, .single-review .review-panel .review-comment .fa {
  font-weight: normal;
  color: #777;
}
.single-review .review-panel .review-comment p {
  color: #555;
  font-size: 16px;
  font-style: italic;
  margin-top: 15px;
}
.single-review .review-panel .btn-review {
  color: #FFF;
  background-color: #C62828;
  border-color: #C62828;
  margin-top: 15px;
}
.single-review .review-panel .btn-review:hover {
  background-color: #F44336;
  border-color: #F44336;
}

.rating-form .rating-form-panel .panel-heading {
  bakcground-color: #E0E0E0;
}
.rating-form .rating-form-panel .panel-heading .panel-title {
  font-weight: bold;
  color: #616161;
}
.rating-form .rating-form-panel .rating-form-field {
  margin-top: 10px;
}
.rating-form .rating-form-panel .rating-form-field:first-child {
  margin-top: 0;
}
.rating-form .rating-form-panel .rating-form-field > label {
  margin-bottom: 0;
  font-size: 13px;
}
.rating-form .rating-form-panel .rating-form-field select {
  display: inline-block;
  width: auto;
  margin-top: 3px;
}
.rating-form .rating-form-panel .btn-submiit {
  margin-top: 10px;
  background-color: #C62828;
  border-color: #C62828;
  color: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.rating-form .rating-form-panel .btn-submiit:hover {
  background-color: #D32F2F;
}

.ratings .panel-body {
  padding: 25px;
}
.ratings .panel-body .ratings-header {
  border-bottom: solid 1px #DDD;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.ratings .panel-body .ratings-header .agent-label {
  color: #777;
}
.ratings .panel-body .ratings-header .agent-name {
  font-size: 24px;
  color: #555;
  font-weight: bold;
}
.ratings .panel-body .ratings-content .rate {
  margin-bottom: 10px;
}
.ratings .panel-body .ratings-content .rate > label {
  color: #555;
  font-size: 12px;
  margin-bottom: 0;
}
.ratings .panel-body .ratings-content .review-comment {
  margin-bottom: 20px;
}
.ratings .panel-body .ratings-content .review-comment label {
  color: #555;
  font-size: 12px;
}
.ratings .panel-body .ratings-content .review-comment p {
  font-size: 16px;
  font-style: italic;
}

.main-content {
  font-size: 16px;
  color: #555;
}
.main-content h1 {
  color: #C62828;
}

.form-new-agent {
  font-size: 14px;
}
.form-new-agent .btn-submit {
  background-color: #C62828;
  border-color: #C62828;
  color: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form-new-agent .btn-submit:hover {
  background-color: #D32F2F;
}

.site-footer {
  padding: 40px 0;
  background-color: #212121;
  color: #9E9E9E;
  text-align: center;
  border-top: 3px solid #616161;
}
.site-footer .footer-links {
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.site-footer .footer-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-footer .footer-links ul li {
  display: inline-block;
  margin: 0 10px;
}

