﻿
@{
    ViewBag.Title = "Index";
}

<h2>Admin Scripts</h2>

Use the following scripts to update metrics within the database.

<br />
<br />

1.  @Html.ActionLink("Perform AGENT Indexing based on number of reviews.", "RankAgents")

<br />
<br />

2.  @Html.ActionLink("Perform CITY Indexing based on number of agents.", "RankCities")





