﻿

<div itemscope itemtype="http://schema.org/Review">
    <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Agent">
        <span itemprop="name">thePhaze Project Sytems</span>
    </div>
    <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        <span itemprop="ratingValue">4</span>
    </span> stars -
    <b>"<span itemprop="name">Offering Digital Services.</span>" </b>
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">Scott Simard</span>
    </span>
    <span itemprop="reviewBody">Functional Solutions.</span>
</div>
