﻿@model IEnumerable<RMA_SITE.Models.Agent>

@{
    ViewBag.Title = "Index";
}

<h2>Agents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>

        <th>
            Type
        </th>

        <th>
            Name
        </th>

        <th>
            City
        </th>

        <th>
            Rating
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.agent_type)
            </td>

            <td>

                @Html.ActionLink(item.first_name + " " + item.last_name,  "Profiles", "Agents",  new { id = item.first_name.ToLower() + "-" + item.last_name.ToLower(), city=item.city.ToLower(), agent_id=item.RMA_ID}, null)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.city), @Html.DisplayFor(modelItem => item.prov_state)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.average_overall_rating_cache)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                @Html.ActionLink("Details", "Details", new { id = item.ID }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>


