﻿@model RMA_SITE.Models.ViewModelAgent


@*<h2>@Model.Agent.first_name @Model.Agent.last_name's Reviews and Ratings</h2>*@



@Html.Partial("_SearchBoxPartial")

@*@Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })*@


@*@Html.ActionLink("Top [" + @Model.Agent.city.ToUpperInvariant() + ", " + Model.Agent.prov_state.ToUpperInvariant() + "] - Agents Ratings and Reviews", "Index", "City", new { city = @Model.Agent.city.ToLower(), prov = @Model.Agent.prov_state.ToLower() }, null)*@

<br />



@Html.Partial("_AgentProfilePartial", Model)


@*<br />
<br />


@Html.ActionLink("Write Review", "Create", "Reviews", new { agent_id = Model.Agent.ID }, null)


<br />
<br />*@

@*@Html.Partial("_AgentReviewsPartial", Model)*@


@*<br />

@Html.ActionLink("Find other [" + @Model.Agent.city.ToUpperInvariant() + ", " + Model.Agent.prov_state.ToUpperInvariant() + "] - Real Estate Agents Ratings and Reviews", "RealEstate", "City", new { city = @Model.Agent.city.ToLower(), prov = @Model.Agent.prov_state.ToLower() }, null)
<br />

@Html.ActionLink("Find other [" + @Model.Agent.city.ToUpperInvariant() + ", " + Model.Agent.prov_state.ToUpperInvariant() + "] - Insurance Agents Ratings and Reviews", "Insurance", "City", new { city = @Model.Agent.city.ToLower(), prov = @Model.Agent.prov_state.ToLower() }, null)
<br />

@Html.ActionLink("Find other [" + @Model.Agent.city.ToUpperInvariant() + ", " + Model.Agent.prov_state.ToUpperInvariant() + "] - Mortgage Broker Ratings and Reviews", "Mortgage", "City", new { city = @Model.Agent.city.ToLower(), prov = @Model.Agent.prov_state.ToLower() }, null)

<br />
<br />*@