﻿@model RMA_SITE.Models.ViewModelAgent


@{
    ViewBag.Title = "View Profile";
}

<h2>@Model.Agent.first_name @Model.Agent.last_name's Profile</h2>

@Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })
<br />

<img src="data:image;base64,@System.Convert.ToBase64String(Model.Agent.photo)" width="250" height="250" />


<br />
<br />


@Html.ActionLink("Write Review", "Create", "Reviews", new { agent_id = Model.Agent.ID }, null)

<table>

    @if (Model != null)
    {
        if (Model.Reviews != null)
        {
            foreach (var review in Model.Reviews)
            {
                <tr>
                    <th>
                        @review.review_summary
                    </th>
                </tr>
            }
        }
    }

</table>

