﻿@model RMA_SITE.Models.AdminCityViewModel

@if (Model.selected_city != null)
{

    <div style="float:left;">
        
        <br />

        <div>ID: @Model.selected_city.ID</div>

        <div>City: <strong>@Model.selected_city.name, @Model.selected_city.prov_state </strong> </div>

        <br />

        <div>Agent Count: @Model.selected_city.agent_count</div>
    </div>

}
