﻿@model RMA_SITE.Models.AdminCityViewModel 

@if (Model.selected_city != null)
{

    <div style="float:right;">

        <form class="admin-city-form" action="../AdminCity/UpdateDescriptions" method="post">
            <input type="hidden" name="city_id" value="@Model.selected_city_id" />
            <div class="admin_city_tabs">
                <li>
                    <input type="radio" checked name="tabs" id="tab1">
                    <label for="tab1">DESCRIPTION</label>
                    <div id="tab-content1" class="tab-content animated fadeIn">
                        <div class='field'>
                            <textarea class="ckeditor" cols="120" id="city_description" name="city_description" rows="17">@Model.selected_city.description </textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab2">
                    <label for="tab2">REALTY</label>
                    <div id="tab-content2" class="tab-content animated fadeIn">
                        <div class='field'>
                            <textarea class="ckeditor" cols="120" id="city_desc_realty" name="city_desc_realty" rows="17">@Model.selected_city.desc_realty </textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab3">
                    <label for="tab3">INSURANCE</label>
                    <div id="tab-content3" class="tab-content animated fadeIn">
                        <div class='field'>
                            <textarea class="ckeditor" cols="120" id="city_desc_insurance" name="city_desc_insurance" rows="17">@Model.selected_city.desc_insurance </textarea>
                        </div>
                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab4">
                    <label for="tab4">MORTGAGE</label>
                    <div id="tab-content4" class="tab-content animated fadeIn">
                        <div class='field'>
                            <textarea class="ckeditor" cols="120" id="city_desc_mortgage" name="city_desc_mortgage" rows="17">@Model.selected_city.desc_mortgage </textarea>
                        </div>
                    </div>
                </li>
            </div>

          
            <div class="rating-form-field">
                <button type="submit" class="awesome">Save / Update</button>
            </div>

     
        </form> 
    </div>



}


