﻿@model RMA_SITE.Models.AdminCityViewModel 

@{
    ViewBag.Title = "Manage City Content";
}

<h2>Manage City Content</h2>





@using (Html.BeginForm("Index", "AdminCity", FormMethod.Get))
{

    @Html.DropDownListFor(model => model.selected_city_id, new SelectList(ViewBag.city_list, "Value", "Text", ViewBag.city_id))
    
    <input type="submit" value="Edit City... " />
}

@Html.Partial("_AdminCityDetailsPartial")

@Html.Partial("_AdminCityTabsPartial")


	
