﻿
@model PagedList.IPagedList<RMA_SITE.Models.Agent>
@using PagedList.Mvc;


<div style="border:solid 0px #808080; margin: auto; text-align:center;">
   
    @if (Model.Count() > 0)
    {

        <div style="display:block; border:solid 0px #899980;">
            <table>
                <tr>
                    <th>
                        Agent ID
                    </th>
                    <th style="width:125px">

                    </th>
                    <th style="width:200px">
                        Name
                    </th>

                    <th style="width:150px">
                        City
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RMA_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.agent_type)
                        </td>

                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.first_name) @Html.DisplayFor(modelItem => item.last_name)
                        </td>
                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.city), @Html.DisplayFor(modelItem => item.prov_state)
                        </td>
                        <td></td>


                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>



            <nav class="category-pagination">
                <div style="text-align:left;">
                    @Html.PagedListPager(Model, page => Url.Action(ViewBag.ControllerName, new { page, param = ViewBag.CurrentFilter, sortorder = ViewBag.CurrentSort }))
                    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
            </nav> 
        
    }
    else
    {
        <div><br />Empty.</div>
    }

</div>

<br style="clear:both" />




