﻿@model RMA_SITE.Models.Agent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RMA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RMA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agent_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agent_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fax_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prov_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prov_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.web_site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web_site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.average_overall_rating_cache)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.average_overall_rating_cache)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.average_overall_ranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.average_overall_ranking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_review_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_review_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo_filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo_filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo_link)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer })
    
</p>
