﻿@model PagedList.IPagedList<RMA_SITE.Models.Agent>

@{
    ViewBag.Title = "Agent Admin";
}

<h2>Agent Administration</h2>


   


@using (Html.BeginForm("Search", "AgentAdmin", FormMethod.Get))
            {
    @Html.ActionLink("Create New ", "Create")    
    @Html.TextBox("param")
    @Html.Hidden("sortorder", "")
    <input type="submit" value="Search" />
}

<br />
@Html.Partial("_AgentListItemPartial", Model)