﻿@model RMA_SITE.Models.ReviewSumamry 

<div class="single-summary">
    <h3>Here's a quick summary of this Real Estate Agent's Ratings</h3>
    <table class="table table-summary">
        <tbody>
            <tr>
                <td>Overall Rating</td>
                <td>
                    @StarHelper.ShowStars(Html, Model.overall_rating, true)

                    @*<span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <span itemprop="ratingValue"> 3.71</span>
                    </span>   *@                 
                   
                </td>
            </tr>
            <tr>
                <td>Knowledgeability Rating</td>
                <td>
                    @StarHelper.ShowStars(Html, Model.understanding_rating)
                    
                </td>
            </tr>
            <tr>
                <td>Professionalism Rating</td>
                <td>
                    @StarHelper.ShowStars(Html, Model.professionalism_rating)
                </td>
            </tr>
            <tr>
                <td>Responsiveness Rating</td>
                <td>
                   @StarHelper.ShowStars(Html, Model.responsiveness_rating)
                </td>
            </tr>
            <tr>
                <td>Usefulness of Website</td>
                <td>
                    @StarHelper.ShowStars(Html, Model.website_rating)
                </td>
            </tr>
            <tr>
                <td>Value of Service</td>
                <td>
                    @StarHelper.ShowStars(Html, Model.service_rating)
                </td>
            </tr>
            <tr>
                <td>Marketing Reach & Lead Generation</td>
                <td>
                    @StarHelper.ShowStars(Html, Model.market_research_rating )
                </td>
            </tr>
            <tr>
                <td>Home Prep & Staging Advice</td>
                <td>
                    @StarHelper.ShowStars(Html, Model.home_prep_rating)
                </td>
            </tr>
            <tr>
                <td>Success Ratio</td>
                <td>
                    @Html.Raw(Model.success_ratio) %
                </td>
            </tr >
        </tbody >
    </table >
</div >


@*<span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">Scott Simard</span>
</span>
<span itemprop="reviewBody">Sold my house in record time.</span>*@
