﻿
@model PagedList.IPagedList<RMA_SITE.Models.Agent>
@using PagedList.Mvc;


 <!--pagination-->
<nav class="category-pagination">
    @Html.PagedListPager(Model, page => Url.Action(ViewBag.ControllerName, new { page, param = ViewBag.CurrentFilter, sortorder = ViewBag.CurrentSort }))
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</nav>
<!--end pagination-->




