﻿@model RMA_SITE.Models.ViewModelAgent
@using RMA_SITE.Models;

<div class="single-review">

    <h3>@Html.Raw(Model.Agent.first_name) @Html.Raw(Model.Agent.last_name) Reviews and Ratings</h3>

    @if (Model != null)
    {
        if (Model.Reviews != null)
        {
            Boolean first_time_thru = true;
            foreach (var review in Model.Reviews)
            {
                if(review.name == "NULL")
                {
                    review.name = "Anon.";
                }

                ReviewView t_review_view = new ReviewView();

                t_review_view.t_review = review;

                if(first_time_thru) { t_review_view.data_rich_snippet = true; }
                
                @Html.Partial("_AgentReviewPartial", t_review_view)


                first_time_thru = false;
            }
        }
        else
        {
            <div>-- No reviews.</div>
        }
    }

  </div>

