﻿@model RMA_SITE.Models.Agent
@using RMA_SITE.Helpers


    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default card-agent">
            <div class="panel-body">
                <div class="card-img pull-left"><img src="@Model.photo_path" /></div>
                <div class="card-header pull-left">
                    <div class="card-name">@Html.ActionLink(Model.first_name + " " + Model.last_name, "Profiles", "Agents", new { id = Model.first_name.ToLower() + "-" + Model.last_name.ToLower(), city = Model.city.ToLower(), agent_id = Model.RMA_ID }, null) </div>
                    <div class="card-location">@Html.DisplayFor(modelItem => Model.city), @Html.DisplayFor(modelItem => Model.prov_state)</div>
                    <div class="card-rate">
                        <div class="star-rating star-rating-static">
                                                       
                            @for (var i = 10; i > 0; i--)
                            {
                                var tclass = i % 2;
                                var starcount = i / 2;
                                var tdatastar = "full";
                                var ischecked = "";

                                if((i*5 ) <= (Model.average_overall_rating_cache * 10))
                                {
                                    ischecked = "checked=\"\"";
                                }

                                if (tclass > 0) { tdatastar = "half"; }

                                @Html.Raw("<input type=\"radio\" " + ischecked  + "/><label class=\"" + tdatastar + "\" data-star=\"star" + starcount +  tdatastar + "\"></label>")
                            
                                

                            }

                            @Html.DisplayFor(modelItem => Model.cumulative_rating).If(User.IsInRole("admin"))
                        </div>
                        @*&nbsp; @Html.DisplayFor(modelItem => Model.average_overall_rating_cache)*@
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="card-review">
                    @*My experience with Paul was awful. He lied to us about the house having air conditioning when we initally looked at our home. We...*@
                </div>
            </div>
        </div>
    </div>


    @*<div style="width:150px; height:225px; border:solid 0px #808080; display:inline-block; ">

            <table style="width:125px;  height:215px; border:solid 0px #808080;">

                <tr>
                    <td colspan="2">
                        <img src="@Model.photo_path" width="125" height="125" />
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.agent_type)
                    </td>
                    <td>


                        @Html.ActionLink(Model.first_name + " " + Model.last_name, "Profiles", "Agents", new { id = Model.first_name.ToLower() + "-" + Model.last_name.ToLower(), city = Model.city.ToLower(), agent_id = Model.RMA_ID }, null)

                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.city), @Html.DisplayFor(modelItem => Model.prov_state)
                    </td>

                    <td align="right">

                        @Html.DisplayFor(modelItem => Model.average_overall_rating_cache)
                        <div>
                            @for (var i = 0; i < Model.average_overall_rating_cache; i++)
                            {
                                <text>*</text>
                            }
                        </div>
                    </td>
                </tr>

            </table>
        </div>*@
