﻿
@model PagedList.IPagedList<RMA_SITE.Models.Agent>
@using PagedList.Mvc;










    <div class="row">
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                @Html.Partial("_AgentTilePartial", item)
            }

            <div class="clearfix visible-sm"></div>
            <div class="clearfix visible-md visible-lg"></div>

            @Html.Partial("_AgentPaginationPartial", Model)
        }
        else
        {
            <div><br />No Results.</div>
        }
    </div>
  

    @*@model IEnumerable<RMA_SITE.Models.Agent>*@

    @*<div style="width:100%; border:solid 0px #808080; margin: auto; text-align:center;">

            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    @Html.Partial("_AgentTilePartial", item)
                }

                @Html.Partial("_AgentPaginationPartial", Model)
            }
            else
            {
                <div><br/>No Results.</div>
            }

        </div>

        <br style="clear:both" />*@
