﻿@model RMA_SITE.Models.ViewModelAgent




<span itemscope itemtype="http://schema.org/Review">

    <div class="page-content page-single">
        <div class="container">
            <div class="page-title-wrap">

                    <h1 class="page-title">@DataRichHelper.DataRich(Model.Agent.first_name + " " + Model.Agent.last_name, "name", "itemReviewed", "Person")</h1>

                <div class="page-title-desc">

                    @switch (Model.Agent.agent_type)
                    {
                        case "Real Estate":
                            @Html.ActionLink(Model.Agent.city + ", " + Model.Agent.prov_state + " Real Estate Agent Reviews and Ratings", "RealEstate", "City", new { city = @Model.Agent.city.ToLower(), prov = @Model.Agent.prov_state.ToLower() }, null);
                            break;
                        case "Insurance":
                            @Html.ActionLink(Model.Agent.city + ", " + Model.Agent.prov_state + " Insurance Agent Reviews and Ratings", "Insurance", "City", new { city = @Model.Agent.city.ToLower(), prov = @Model.Agent.prov_state.ToLower() }, null);
                            break;
                        case "Mortgage":
                            @Html.ActionLink(Model.Agent.city + ", " + Model.Agent.prov_state + " Mortgage Broker Reviews and Ratings", "Mortgage", "City", new { city = @Model.Agent.city.ToLower(), prov = @Model.Agent.prov_state.ToLower() }, null);
                            break;
                    }


                    @*@Html.ActionLink("Find other [" + @Model.Agent.city.ToUpperInvariant() + ", " + Model.Agent.prov_state.ToUpperInvariant() + "] - Insurance Agents Reviews and Ratings", "Insurance", "City", new { city = @Model.Agent.city.ToLower(), prov = @Model.Agent.prov_state.ToLower() }, null)*@
                    @*<a href="#">Saskatoon, SK, Real Estate Agent Reviews and Ratings</a>*@



                </div>
            </div>


            @*<span itemprop="name">@Model.Agent.city + ", " + @Model.Agent.prov_state</span>*@





            <div class="row">
                <div class="col-md-8">
                    <div class="single-info">
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <div class="single-photo">
                                    <img src="@Html.DisplayFor(modelItem => Model.Agent.photo_path)" width="225" height="340" />
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <table class="table single-info-table">
                                    <tbody>
                                        <tr>
                                            <td>Email Address </td>
                                            <td>@Html.Raw(Model.Agent.email)</td>
                                        </tr>
                                        <tr>
                                            <td>Website </td>
                                            <td>@Html.Raw(Model.Agent.web_site)</td>
                                        </tr>
                                        <tr>
                                            <td>Company </td>
                                            <td>@Html.Raw(Model.Agent.company_name)</td>
                                        </tr>
                                        <tr>
                                            <td>Phone </td>
                                            <td>@Html.Raw(Model.Agent.phone_number)</td>
                                        </tr>
                                        <tr>
                                            <td>Cell </td>
                                            <td>@Html.Raw(Model.Agent.cell_number)</td>
                                        </tr>
                                        <tr>
                                            <td>Fax </td>
                                            <td>@Html.Raw(Model.Agent.fax_number)</td>
                                        </tr>
                                        <tr>
                                            <td>Address </td>
                                            <td>@Html.Raw(Model.Agent.address1)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>
                                    Is the contact info for this Real Estate Agent incorrect?
                                    <br /><a href="#">Click here to tell us how to fix it.</a>
                                </p>
                            </div>

                        </div>



                    </div>


                    @Html.Partial("_AgentSummaryPartial", Model.ReviewsSummary)

                </div>
                @Html.Partial("_SideRatingPartial", Model)

            </div>





            @Html.Partial("_AgentReviewsPartial")

        </div>
    </div>
</span>