﻿@model RMA_SITE.Models.ReviewView

<div class="single-review">

   
    <div class="panel panel-default review-panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="review-comment">
                        <label>Review Comment</label>
                        <p>
                            <span class="fa fa-quote-left"></span>

                            @if (Model.data_rich_snippet == true)
                            {
                                @DataRichHelper.DataRich(Model.t_review.comment, "reviewBody", "" , "")
                            }
                            else
                            {
                                @Html.Raw(Model.t_review.comment)
                            }

                            -

                            @if (Model.data_rich_snippet == true)
                            {
                                @DataRichHelper.DataRich(Model.t_review.name, "name", "author", "Person")
                            }
                            else
                            {
                                @Html.Raw(Model.t_review.name)
                            }

                            @if (Model.data_rich_snippet == true)
                            {
                                @DataRichHelper.DataRich(Model.t_review.created_at.ToString(), "datePublished", "" , "", true)
                            }

                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="rate">
                                <label>Overall Rating</label>
                                <div>
                                    @StarHelper.ShowStars(Html, Model.t_review.overall_rating )
                                    @*@if (Model.data_rich_snippet == true)
                                    {
                                        <meta itemprop="reviewRating" content="@Model.t_review.overall_rating">
                                    }*@
                                </div>

                         

                            </div>
                            <div class="clearfix"></div>
                            <div class="rate">
                                <label>Knowledgeability Rating</label>
                                <div>
                                    @StarHelper.ShowStars(Html, Model.t_review.understanding_rating )
                                </div>
                            </div>
                            <div class="rate">
                                <label>Professionalism Rating</label>
                                <div>
                                    @StarHelper.ShowStars(Html, Model.t_review.professionalism_rating )
                                </div>
                            </div>
                            <div class="rate">
                                <label>Usefulness of Website</label>
                                <div>
                                    @StarHelper.ShowStars(Html, Model.t_review.website_rating )
                                </div>
                            </div>
                            <div class="rate">
                                <label>Value of Service</label>
                                <div>
                                    @StarHelper.ShowStars(Html, Model.t_review.service_rating)
                                </div>
                            </div>
                            <div class="rate">
                                <label>Marketing Reach & Lead Generation</label>
                                <div>
                                    @StarHelper.ShowStars(Html, Model.t_review.market_research_rating )
                                </div>
                            </div>
                            <div class="rate">
                                <label>Home Prep & Staging Advice</label>
                                <div>
                                    @StarHelper.ShowStars(Html, Model.t_review.home_prep_rating )
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="rate">
                                <label>For Sale By Owner</label>
                                <div> - </div>
                            </div>
                            <div class="rate">
                                <label>Transaction Type</label>
                                <div> - </div>
                            </div>
                            <div class="rate">
                                <label>Successful?</label>
                                <div> - </div>
                            </div>
                            <div class="rate">
                                <label>Recommend</label>
                                <div> - </div>
                            </div>
                            <div class="rate">
                                <label>Property Type</label>
                                <div> - </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="../Reviews/ViewSingle?id=@Model.t_review.id" class="btn btn-default btn-sm btn-review" target="_blank">Show</a>
            </div>
        </div>
    </div>
</div>
