﻿@model RMA_SITE.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in...</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                - Not available.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @{ var str_image_path = ""; }
                    @foreach (AuthenticationDescription p in loginProviders) {
                        
                        switch (p.AuthenticationType){ 
                            case "Facebook":
                                str_image_path  = @Url.Content("~/Resources/login_facebook.png");

                                break;
                            case "Google":
                                str_image_path = @Url.Content("~/Resources/login_google.jpg");
                                break;
                        }


                        // <button type="submit" im class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>

                        <input type="image" style="margin:10px;"  id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" src="@str_image_path" alt="Sign-In with @p.AuthenticationType" width="64px" height="64px" />

                    }
                </p>
            </div>
        }
    }
}
