﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewBag.MetaDescription != "")
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rate-My-Agent", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*<li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>*@
                    <li style="margin-top:10px; margin-left:30px;">
                        @using (Html.BeginForm("Listings", "Search", FormMethod.Get))
                        {
                            @Html.TextBox("param")
                            @Html.Hidden("sortorder", "name_desc")
                            @Html.Hidden("v", "t")
                            <input type="submit" value="Search" />
                        }
                    </li>

                </ul>



                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav" style="float:right">
                    <li>@Html.ActionLink("Write a Review", "Create", "Reviews")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div style="display:block;" align="left" valign="middle">
            <a href="~/real-estate">REAL ESTATE</a> --
            <a href="~/mortgage">MORTGAGE</a> --
            <a href="~/insurance">INSURANCE</a>
        </div>

        @RenderBody()
        <hr />

        <div style="text-align:left; float:right;">
            @Html.Partial("_SocialLikesPartial")
        </div>

        <footer>
            @Html.ActionLink("About", "About", "Home")
            &nbsp; || &nbsp;
            @Html.ActionLink("Contact", "Contact", "Home")
            &nbsp; || &nbsp;
            @Html.ActionLink("Advertising", "Advertising", "Home")
            <p>
                &copy;  2015 - Rate-My-Agent.com <br />
                <span style="font-size:9px"> Developed by thePhaze Project Systems </span>
            </p>
        </footer>
    </div>






    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
