﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewBag.MetaDescription != "")
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

</head>
<body>



    <!--header-->
    <nav class="navbar navbar-default navbar-fixed-top site-nav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteMenu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Resources/logo.png")" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="siteMenu">

                @Html.Partial("_LoginPartial")

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../Admin" class="nav-icon">ADMINISTRATION</a></li>
                    <li><a href="../AdminDataBank" class="nav-icon">DATA BANK</a></li>
                    <li><a href="../AdminTools" class="nav-icon">TOOLS</a></li>
                    <li><a href="../AdminSettings" class="nav-icon">SETTINGS</a></li>
                    <li><a href="#" class="nav-write"><i class="fa fa-edit"></i> &nbsp; </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--end header-->
  


    <!--site main-->
    <div class="site-main">
        <div class="main-content">
            <div class="container">


                @RenderBody()

            </div>
        </div>
    </div>
    <!--end site main-->


    <div class="site-footer">
        <div class="container">
            <div class="footer-cr">
                <p>
                    Copyright © 2005 - 2015 <a href="#">Rate-My-Agent.com</a> All Rights Reserved.
                </p>
            
            </div>
        </div>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




