﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewBag.MetaDescription != "")
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/SingleReviewPrint.css" type="text/css" media="print" />
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>

</head>
<body>

     


    <!--site main-->
    <div class="site-main">
        <div class="main-content">
            <div class="container">


                @RenderBody()

            </div>
        </div>
    </div>
    <!--end site main-->





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




