﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewBag.MetaDescription != "")
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }

    @if (ViewBag.CanonicalUrl != "")
    {
        <link rel="canonical" href="@ViewBag.CanonicalUrl" />
    }

   

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>





    @Html.Partial("_LayoutHeaderPartial")






    <div class="site-main">
        <div class="main-content">
          
                @RenderBody()



           
        </div>
    </div>


    <div class="site-footer">
        <div class="container">

           
                @Html.Partial("_SocialLikesPartial")
           

            <br />

            <div class="footer-links">
                <ul>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Advertising", "Advertising", "Home")</li>
                    <li>@Html.ActionLink("Add Agent", "Create", "Agents")</li>
                </ul>
            </div>
            <div class="footer-cr">
                <p>
                    Copyright © 2005 - 2015 <a href="#">Rate-My-Agent.com</a> All Rights Reserved.
                </p>
                Rate and review agents in your local area. <a href="#">Sitemap</a>
            </div>
        </div>
    </div>

        


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
