﻿
 <!--header-->
<nav class="navbar navbar-default navbar-fixed-top site-nav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Resources/logo.png")" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="siteMenu">


            @Html.Partial("_LoginPartial")

            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("realestate", "Home")" class="nav-icon"><img src="@Url.Content("~/Resources/icon-real-estate.png")" /> REAL ESTATE</a></li>
                <li><a href="@Url.Action("mortgage", "Home")" class="nav-icon"><img src="@Url.Content("~/Resources/icon-mortgage.png")" /> MORTGAGE</a></li>
                <li><a href="@Url.Action("insurance", "Home")" class="nav-icon"><img src="@Url.Content("~/Resources/icon-insurance.png")" /> INSURANCE</a></li>
                <li><a href="@Url.Action("index", "Reviews")" class="nav-write"><i class="fa fa-edit"></i> Write a Review</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--end header-->
