﻿
@model PagedList.IPagedList<RMA_SITE.Models.Agent>
@using PagedList.Mvc;


<!--site main-->
<div class="site-main">
    <div class="page-content page-category">
        <div class="container">
            <div class="page-title-wrap">
                <h1 class="page-title">@ViewBag.Message</h1>

            </div>


            @if (Model.Count() > 0)
            {

                @Html.Partial("_AgentListingsPartial", Model)


            }
            else
            {
                <div><br />No Results.</div>
            }


            <hr />
            <p>
                @Html.Raw(ViewBag.CityPageContent)
            </p>

        </div>

      
    </div>
</div>
            
            
        
