﻿

<!--search-->
    <div class="page-search">
        <div class="container text-center">
            <form class="form-inline form-search" action="/Search/Listings" method="get">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="city, agent name or both..." size="40" id="param" name="param">
                    <input id="sortorder" name="sortorder" type="hidden" value="default" />
                    <input id="v" name="v" type="hidden" value="t" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg btn-search"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
<!--end search-->


@*@using (Html.BeginForm("Listings", "Search", FormMethod.Get))
            {
    @Html.TextBox("param")
    @Html.Hidden("sortorder", "name_desc")
    @Html.Hidden("v", "t")
    <input type="submit" value="Search" />
}*@



