﻿@model RMA_SITE.Models.ViewModelAgent

@using (Html.BeginForm("Create", "Reviews"))
{
    @Html.AntiForgeryToken()


        <input type="hidden" name="agent_id" value="@Model.Agent.RMA_ID" />
        <input type="hidden" name="RMA_ID" value="@Model.Agent.RMA_ID" />

        <div class="col-md-4">
            <div class="rating-form">
                <div class="panel panel-default rating-form-panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Rate this Agent
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="rating-form-field">
                            <label>Overall Rating</label>
                            <div>
                                <div class="star-rating">
                                    <input type="radio" name="overall_rating" id="rating_overall_rating_5" value="5" /><label class="full" data-star="star5" for="rating_overall_rating_5"></label>
                                    <input type="radio" name="overall_rating" id="rating_overall_rating_4" value="4" /><label class="full" data-star="star4" for="rating_overall_rating_4"></label>
                                    <input type="radio" name="overall_rating" id="rating_overall_rating_3" value="3" /><label class="full" data-star="star3" for="rating_overall_rating_3"></label>
                                    <input type="radio" name="overall_rating" id="rating_overall_rating_2" value="2" /><label class="full" data-star="star2" for="rating_overall_rating_2"></label>
                                    <input type="radio" name="overall_rating" id="rating_overall_rating_1" value="1" /><label class="full" data-star="star1" for="rating_overall_rating_1"></label>
                                    <input type="radio" name="overall_rating" id="rating_overall_rating_na" class="rating-input-na" checked="" value="" /><label class="star-na" data-star="star5" for="rating_overall_rating_na"> <small>N/A</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rating-form-field">
                            <label>Knowledgeability Rating</label>
                            <div>
                                <div class="star-rating">
                                    <input type="radio" name="understanding_rating" id="rating_understanding_rating_5" value="5" /><label class="full" data-star="star5" for="rating_understanding_rating_5"></label>
                                    <input type="radio" name="understanding_rating" id="rating_understanding_rating_4" value="4" /><label class="full" data-star="star4" for="rating_understanding_rating_4"></label>
                                    <input type="radio" name="understanding_rating" id="rating_understanding_rating_3" value="3" /><label class="full" data-star="star3" for="rating_understanding_rating_3"></label>
                                    <input type="radio" name="understanding_rating" id="rating_understanding_rating_2" value="2" /><label class="full" data-star="star2" for="rating_understanding_rating_2"></label>
                                    <input type="radio" name="understanding_rating" id="rating_understanding_rating_1" value="1" /><label class="full" data-star="star1" for="rating_understanding_rating_1"></label>
                                    <input type="radio" name="understanding_rating" id="rating_understanding_rating_na" class="rating-input-na" checked="" value="" /><label class="star-na" data-star="star5" for="rating_understanding_rating_na"> <small>N/A</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rating-form-field">
                            <label>Professionalism Rating</label>
                            <div>
                                <div class="star-rating">
                                    <input type="radio" name="professionalism_rating" id="rating_professionalism_5" value="5" /><label class="full" data-star="star5" for="rating_professionalism_5"></label>
                                    <input type="radio" name="professionalism_rating" id="rating_professionalism_4" value="4" /><label class="full" data-star="star4" for="rating_professionalism_4"></label>
                                    <input type="radio" name="professionalism_rating" id="rating_professionalism_3" value="3" /><label class="full" data-star="star3" for="rating_professionalism_3"></label>
                                    <input type="radio" name="professionalism_rating" id="rating_professionalism_2" value="2" /><label class="full" data-star="star2" for="rating_professionalism_2"></label>
                                    <input type="radio" name="professionalism_rating" id="rating_professionalism_1" value="1" /><label class="full" data-star="star1" for="rating_professionalism_1"></label>
                                    <input type="radio" name="professionalism_rating" id="rating_professionalism_na" class="rating-input-na" checked="" value="" /><label class="star-na" data-star="star5" for="rating_professionalism_na"> <small>N/A</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rating-form-field">
                            <label>Responsiveness Rating</label>
                            <div>
                                <div class="star-rating">
                                    <input type="radio" name="responsiveness_rating" id="rating_responsiveness_rating_5" value="5" /><label class="full" data-star="star5" for="rating_responsiveness_rating_5"></label>
                                    <input type="radio" name="responsiveness_rating" id="rating_responsiveness_rating_4" value="4" /><label class="full" data-star="star4" for="rating_responsiveness_rating_4"></label>
                                    <input type="radio" name="responsiveness_rating" id="rating_responsiveness_rating_3" value="3" /><label class="full" data-star="star3" for="rating_responsiveness_rating_3"></label>
                                    <input type="radio" name="responsiveness_rating" id="rating_responsiveness_rating_2" value="2" /><label class="full" data-star="star2" for="rating_responsiveness_rating_2"></label>
                                    <input type="radio" name="responsiveness_rating" id="rating_responsiveness_rating_1" value="1" /><label class="full" data-star="star1" for="rating_responsiveness_rating_1"></label>
                                    <input type="radio" name="responsiveness_rating" id="rating_responsiveness_rating_na" class="rating-input-na" checked="" value="" /><label class="star-na" data-star="star5" for="rating_responsiveness_rating_na"> <small>N/A</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rating-form-field">
                            <label>Usefulness of Website</label>
                            <div>
                                <div class="star-rating">
                                    <input type="radio" name="website_rating" id="rating_website_rating_5" value="5" /><label class="full" data-star="star5" for="rating_website_rating_5"></label>
                                    <input type="radio" name="website_rating" id="rating_website_rating_4" value="4" /><label class="full" data-star="star4" for="rating_website_rating_4"></label>
                                    <input type="radio" name="website_rating" id="rating_website_rating_3" value="3" /><label class="full" data-star="star3" for="rating_website_rating_3"></label>
                                    <input type="radio" name="website_rating" id="rating_website_rating_2" value="2" /><label class="full" data-star="star2" for="rating_website_rating_2"></label>
                                    <input type="radio" name="website_rating" id="rating_website_rating_1" value="1" /><label class="full" data-star="star1" for="rating_website_rating_1"></label>
                                    <input type="radio" name="website_rating" id="rating_website_rating_na" class="rating-input-na" checked="" value="" /><label class="star-na" data-star="star5" for="rating_website_rating_na"> <small>N/A</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rating-form-field">
                            <label>Value of Service</label>
                            <div>
                                <div class="star-rating">
                                    <input type="radio" name="service_rating" id="rating_service_rating_5" value="5" /><label class="full" data-star="star5" for="rating_service_rating_5"></label>
                                    <input type="radio" name="service_rating" id="rating_service_rating_4" value="4" /><label class="full" data-star="star4" for="rating_service_rating_4"></label>
                                    <input type="radio" name="service_rating" id="rating_service_rating_3" value="3" /><label class="full" data-star="star3" for="rating_service_rating_3"></label>
                                    <input type="radio" name="service_rating" id="rating_service_rating_2" value="2" /><label class="full" data-star="star2" for="rating_service_rating_2"></label>
                                    <input type="radio" name="service_rating" id="rating_service_rating_1" value="1" /><label class="full" data-star="star1" for="rating_service_rating_1"></label>
                                    <input type="radio" name="service_rating" id="rating_service_rating_na" class="rating-input-na" checked="" value="" /><label class="star-na" data-star="star5" for="rating_service_rating_na"> <small>N/A</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rating-form-field">
                            <label>Marketing Reach & Lead Generation</label>
                            <div>
                                <div class="star-rating">
                                    <input type="radio" name="market_research_rating" id="rating_market_research_rating_5" value="5" /><label class="full" data-star="star5" for="rating_market_research_rating_5"></label>
                                    <input type="radio" name="market_research_rating" id="rating_market_research_rating_4" value="4" /><label class="full" data-star="star4" for="rating_market_research_rating_4"></label>
                                    <input type="radio" name="market_research_rating" id="rating_market_research_rating_3" value="3" /><label class="full" data-star="star3" for="rating_market_research_rating_3"></label>
                                    <input type="radio" name="market_research_rating" id="rating_market_research_rating_2" value="2" /><label class="full" data-star="star2" for="rating_market_research_rating_2"></label>
                                    <input type="radio" name="market_research_rating" id="rating_market_research_rating_1" value="1" /><label class="full" data-star="star1" for="rating_market_research_rating_1"></label>
                                    <input type="radio" name="market_research_rating" id="rating_market_research_rating_na" class="rating-input-na" checked="" value="" /><label class="star-na" data-star="star5" for="rating_market_research_rating_na"> <small>N/A</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rating-form-field">
                            <label>Home Prep & Staging Advice</label>
                            <div>
                                <div class="star-rating">
                                    <input type="radio" name="home_prep_rating" id="rating_home_prep_rating_5" value="5" /><label class="full" data-star="star5" for="rating_home_prep_rating_5"></label>
                                    <input type="radio" name="home_prep_rating" id="rating_home_prep_rating_4" value="4" /><label class="full" data-star="star4" for="rating_home_prep_rating_4"></label>
                                    <input type="radio" name="home_prep_rating" id="rating_home_prep_rating_3" value="3" /><label class="full" data-star="star3" for="rating_home_prep_rating_3"></label>
                                    <input type="radio" name="home_prep_rating" id="rating_home_prep_rating_2" value="2" /><label class="full" data-star="star2" for="rating_home_prep_rating_2"></label>
                                    <input type="radio" name="home_prep_rating" id="rating_home_prep_rating_1" value="1" /><label class="full" data-star="star1" for="rating_home_prep_rating_1"></label>
                                    <input type="radio" name="home_prep_rating" id="rating_home_prep_rating_na" class="rating-input-na" checked="" value="" /><label class="star-na" data-star="star5" for="rating_home_prep_rating_na"> <small>N/A</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rating-form-field">
                            <label for="rating_show_home">Did @Model.Agent.first_name @Model.Agent.last_name offer to show you ‘For Sale By Owner’ listings?</label>
                            <div>
                                <select id="rating_show_home" name="show_home" class="form-control input-sm">
                                    <option value="">N/A</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="rating-form-field">
                            <label for="rating_transaction_type_id">Transaction Type</label>
                            <div>
                                <select id="rating_transaction_type_id" name="transaction_type_id" class="form-control input-sm">
                                    <option value="">N/A</option>
                                    <option value="1">Buying</option>
                                    <option value="2">Selling</option>
                                    <option value="3">Both</option>
                                </select>
                            </div>
                        </div>
                        <div class="rating-form-field">
                            <label for="rating_successful">Successful?</label>
                            <div>
                                <select id="rating_successful" name="successful" class="form-control input-sm">
                                    <option value="">N/A</option>
                                    <option value="1">Successful</option>
                                    <option value="0">Not Successful</option>
                                </select>
                            </div>
                        </div>
                        <div class="rating-form-field">
                            <label for="rating_recommend_agent">Would you use @Model.Agent.first_name @Model.Agent.last_name again?</label>
                            <div>
                                <select id="rating_recommend_agent" name="recommend_agent" class="form-control input-sm">
                                    <option value="">N/A</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="rating-form-field">
                            <label for="rating_property_type_id">Property Type</label>
                            <div>
                                <select id="rating_property_type_id" name="property_type_id" class="form-control input-sm">
                                    <option value="">N/A</option>
                                    <option value="1">Residential</option>
                                    <option value="2">Commercial</option>
                                    <option value="3">Vacant Land</option>
                                </select>
                            </div>
                        </div>
                        <div class="rating-form-field">
                            <label for="rating_comment">Review Comment</label>
                            <div>
                                <textarea id="rating_comment" name="comment" class="form-control" rows="4" placeholder="Review Comment"></textarea>
                            </div>
                        </div>
                        <div class="rating-form-field">
                            <label for="rating_name">Name</label>
                            <div>
                                <input id="rating_name" class="form-control input-sm" name="name" required="required" type="text" aria-required="true" placeholder="Name">
                            </div>
                        </div>
                        <div class="rating-form-field">
                            <label for="rating_email">Email</label>
                            <div>
                                <input id="rating_email" class="form-control input-sm" name="email" required="required" type="email" aria-required="true" placeholder="Email">
                            </div>
                        </div>
                        <div class="rating-form-field">
                            <input name="rating[receive_review_notification]" type="hidden" value="0">
                            <div class="checkbox">
                                <label>
                                    <input id="rating_receive_review_notification" name="receive_review_notification" type="checkbox" value="1">
                                    Yes! Notify me of replies to my review.
                                </label>
                            </div>
                        </div>

                        <div class="rating-form-field">
                            <button type="submit" class="btn btn-default btn-submiit btn-lg">Add Rating</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
}