﻿

<div style="width:100%; text-align:center;" %>
    <table style="width:100%">
        <tr>
            <td width='120px'>
                <div id="fb-root"></div>

                <script>
                    (function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=&status=0&version=v2.0";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>

                <div class="fb-like" data-href='@Request.Url.AbsoluteUri'
                     data-send='false'
                     data-layout='button_count'
                     data-show-faces=''
                     data-width='80'
                     data-action=''
                     data-font=''
                     data-colorscheme=''
                     data-ref=''
                     data-share=''
                     data-kid-directed-site=''>
                </div>

            </td>



            <td width='100px'>

                <a href="https://twitter.com/share" class="twitter-share-button"
                   data-url="@Request.Url.AbsoluteUri" data-count="horizontal" data-lang="en" data-size="medium">Tweet</a>

                <script>
                    !function(d,s,id){
                      var js,fjs=d.getElementsByTagName(s)[0];
                      if(!d.getElementById(id)){
                        js=d.createElement(s);
                        js.id=id;js.src="//platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js,fjs);}} (document,"script","twitter-wjs");
                </script>

            </td>



            <td width='120px'>

                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

                <script type="IN/Share"
                        data-url="@Request.Url.AbsoluteUri" data-counter="right" data-showzero="true">
                </script>

            </td>

            <td width='120px'>
                <script src="https://apis.google.com/js/platform.js" async defer></script>

                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
            </td>

           


        </tr>
    </table>
</div>

