﻿
@{
    ViewBag.Title = "ClearTables";
}

<h2>CLEAR TABLES</h2>

<br />
<br />
<br />

!! CAUTION !!
<br />

<br />
ACTION: performs a 'RESET' of application data tables

<br />
This action is NOT reversible.

<br />
<br />
@Html.ActionLink("CONFIRMED. PLEASE PROCEED >> AGENTS", "ClearProceedAgents") 

<br />
<br />
@Html.ActionLink("CONFIRMED. PLEASE PROCEED >> REVIEWS", "ClearProceedReviews") 

<br />
<br />
@Html.ActionLink("CONFIRMED. PLEASE PROCEED >> CITIES", "ClearProceedCities") 