﻿@model RMA_SITE.Models.DataImporterModel
@{
    ViewBag.Title = "RMA - DATA IMPORT";
}

<br />
<h2>DATA IMPORT</h2>
<br />

<p>
    !! PROCEED WITH CAUTION !!
</p>

<br />

1. CLEAR TABLES >> @Html.ActionLink("AUTHORIZATION NEEDED", "ClearTables")

<br />
<br />

2. UPLOAD JSON

<br />
<br />

3. THEN @Html.ActionLink("LOAD IMPORT FILE >> AGENTS", "LoadImportFile_Agents") ** 

<br />
<br />
4. THEN @Html.ActionLink("LOAD IMPORT FILE >> REVIEWS", "LoadImportFile_Reviews") **

<br />
<br />
5. THEN @Html.ActionLink("LOAD IMPORT FILE >> CITIES", "LoadImportFile_Cities") ** 

<br />
<br />

<p>
    ** THESE ARE DIRECT LINKS TO THE CORRESPONDING FUNCTIONS
</p>
<p>
    ** THEY ARE ACTIVE AND <strong>WILL CAUSE DATA CORRUPTION</strong> IF USED INCORRECTLY !!
</p>
