﻿@model RMA_SITE.Models.DataImporterModel

@section Scripts
{
  
    <script>

        $('#txtUploadFile').on('change', function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/DataImport/UploadHomeReport?id=' + myID,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });


    </script>
}


@{
    ViewBag.Title = "UploadFile";

}

<h2>Upload File...</h2>

<form method="post">
    <div>
        <input type="file" name="UploadFile" id="txtUploadFile" class="makethispretty" />
    </div>
    <div>
        <input type="submit" name="submit" id="submit"/>
    </div>

</form>

