﻿
@{
    ViewBag.Title = "Index";
}

@ViewBag.ErrorMessage

<h2>Purchase a subscription to Rate-My-Agent.com</h2>


<br />
Membership Benefits
<ul>
    <li>Profile Control</li>
    <li>Multiple City Listings</li>
    
</ul>
<br />
<br />
<br />

Only $9.99 / year

@*4242424242424242*@

<form action="~/AgentSignUp/charge" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" type="text/javascript" class="stripe-button"
            data-key="pk_test_TZeiO4ZaJOEznwXToffDfxIL"
            data-image="http://www.rate-my-agent.com/assets/logo.png"
            data-name="Rate-My-Agent.com"
            data-panel-label="Subscribe for"
            data-description="1-Year Premium Membership"
            data-currency="CAD"
            data-amount="1.00">

    </script>
</form>





