﻿
@{
    ViewBag.Title = "Index";
}

<h2>RMA - Site Admin Tools</h2>

<br />

<p>
    ** CAUTION **
</p>

<p>
    The following tools have the potential of corrupting data.
</p>


<ul>
    <li>
        @Html.ActionLink("Initial Data Importer", "Index", "DataImport")
    </li>
</ul>


