﻿@model RMA_SITE.Models.ScReviewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ScReviewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RMA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RMA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.review_summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.review_summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agent_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agent_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.overall_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overall_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.friendliness_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.friendliness_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.understanding_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.understanding_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.professionalism_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professionalism_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.experience_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.successful)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.successful)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transaction_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transaction_type_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.property_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.property_type_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.helpfulness_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.helpfulness_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsiveness_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsiveness_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attitude_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attitude_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verified_reply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verified_reply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verification_key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verification_key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.market_research_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.market_research_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.home_prep_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.home_prep_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.handelling_claims_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.handelling_claims_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mortgage_guidance_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mortgage_guidance_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.website_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.website_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.show_home)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.show_home)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recommend_agent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recommend_agent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receive_review_notification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receive_review_notification)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
