﻿

@helper DataRich(string data_content, string field_name, string outter_span, string schema_type, bool? meta_only = false) {

if (meta_only == true) {

        <meta itemprop="@field_name" content="@data_content" />

}
else {

    if (outter_span != "")
    {
            <span itemprop="@outter_span" itemscope itemtype="http://schema.org/@schema_type">
                <span itemprop="@field_name">
                    @data_content
                </span>
            </span>

    }
    else
    {
        <span itemprop="@field_name">
            @data_content
        </span>

    }
}

}
