﻿

@helper ShowStars(System.Web.Mvc.HtmlHelper Html, int? starvalue = 0 ) {

    if (starvalue > 0)
    {

        <div class="star-rating star-rating-static">
            @for (var i = 10; i > 0; i--)
            {
                var tclass = i % 2;
                var starcount = i / 2;
                var tdatastar = "full";
                var ischecked = "";

                if ((i * 5) <= (starvalue * 10))
                {
                    ischecked = "checked=\"\"";
                }

                if (tclass > 0) { tdatastar = "half"; }

                @Html.Raw("<input type=\"radio\" " + ischecked + "/><label class=\"" + tdatastar + "\" data-star=\"star" + starcount + tdatastar + "\"></label>")
            }
        </div>
         @Html.Raw(starvalue)
    }
    else
    {
        @Html.Raw("-");
    }
    }


@helper ShowStars(System.Web.Mvc.HtmlHelper Html, double? starvalue = 0, Boolean structured_content = false)
{

    if (starvalue > 0)
    {

            <div class="star-rating star-rating-static">
                @for (var i = 10; i > 0; i--)
                {
                    var tclass = i % 2;
                    var starcount = i / 2;
                    var tdatastar = "full";
                    var ischecked = "";

                    if ((i * 5) <= (starvalue * 10))
                    {
                        ischecked = "checked=\"\"";
                    }

                    if (tclass > 0) { tdatastar = "half"; }

                    @Html.Raw("<input type=\"radio\" " + ischecked + "/><label class=\"" + tdatastar + "\" data-star=\"star" + starcount + tdatastar + "\"></label>")
                }
            </div>

                if (structured_content)
                {
                    @DataRichHelper.DataRich((string.Format("{0:0.00}", starvalue)), "ratingValue", "reviewRating", "Rating")   
                }
                else
                {
                    @Html.Raw(string.Format("{0:0.00}", starvalue));
                }


    }
    else
    {
        <div>
            @Html.Raw("Not yet rated");
        </div>
    }
}

