﻿@model RMA_SITE.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.agent_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agent_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.review_summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.review_summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.overall_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overall_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.friendliness_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.friendliness_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.understanding_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.understanding_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.professionalism_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professionalism_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.experience_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.helpfulness_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.helpfulness_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsiveness_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsiveness_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attitude_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attitude_rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
