﻿@model IEnumerable<RMA_SITE.Models.Review>
@using RMA_SITE.Helpers

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_SearchBoxPartial")

<h1>Write&nbsp;Reviews at Rate-My-Agent.com</h1>

<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">First, search for the agent you want to review. (Use the search box at the top of every page.) &nbsp;Once you find them, you can rate and review them on their profile page.</span></p>

<p><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial; font-size:15px">If you do not find them, you can easily <a href="/agents/create">add an agent</a>, and then rate them. &nbsp;It&rsquo;s quick and easy!</span></p>

<div>&nbsp;</div>

<br />

<p>
    @Html.ActionLink("Create Review", "Create")
</p>



@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.agent_id)
        </th>
 
        <th>
            @Html.DisplayNameFor(model => model.overall_rating)
        </th>
       
        <th></th>
    </tr>



@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Action("Index",  "AgentIndicator",  (item.agent_id) )
          
           ID-@Html.DisplayFor(modelItem => item.agent_id)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overall_rating)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) 
            @Html.ActionLink("Details", "Details", new { id=item.id }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
    <tr>
        <td>
           
        </td>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.review_summary)
        </td>
    </tr>
    <tr><td>&nbsp;<br /></td></tr>

 }

</table>*@
