﻿@using RMA_SITE.Models
@{
    ViewBag.Title = "Must Be Logged In";
}

<h2>Write a Review</h2>

<h4>@Html.ViewBag.LoggedInMessage</h4>

<br />

@Html.ActionLink("Log In.", "Login", "Account", null, null)
 -- 
@Html.ActionLink("Register.", "Register", "Account", null, null)


<br />
<br />
- OR - 

<div>
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>