﻿@model RMA_SITE.Models.Review

@{
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
}


    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default ratings">
                <div class="panel-body">
                    <div class="ratings-header">
                        <div class="row">
                            <div class="col-md-5 col-md-push-7">
                                <img src="src/images/logo.png" style="max-height: 50px; max-width: 100%;margin-bottom: 15px;" />
                            </div>
                            <div class="col-md-7 col-md-pull-5">
                                <div class="agent-name">@ViewBag.AgentName</div>
                            </div>
                        </div>
                    </div>
                    <div class="ratings-content">
                        <div class="review-comment">
                            <label>Review Comment</label>
                            <p>
                                <span class="fa fa-quote-left"></span>
                                My experience with Paul was awful. He lied to us about the house having air conditioning when we initally looked at our home. We ended up going with another realtor, and I received a very angry phone call from Paul about how we chose another realtor. We ended up in a yelling match on the phone. Incredibly unprofessional and rude. We since learned him and his partner have a terrible reputation among relators in saskatoon. Overall terrible experience. - susan
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="rate">
                                    <label>Overall Rating</label>
                                    <div>
                                        <div class="star-rating star-rating-static">
                                            <input type="radio" /><label class="full" data-star="star5"></label>
                                            <input type="radio" /><label class="half" data-star="star4half"></label>
                                            <input type="radio" /><label class="full" data-star="star4"></label>
                                            <input type="radio" checked="" /><label class="half" data-star="star3half"></label>
                                            <input type="radio" /><label class="full" data-star="star3"></label>
                                            <input type="radio" /><label class="half" data-star="star2half"></label>
                                            <input type="radio" /><label class="full" data-star="star2"></label>
                                            <input type="radio" /><label class="half" data-star="star1half"></label>
                                            <input type="radio" /><label class="full" data-star="star1"></label>
                                            <input type="radio" /><label class="half" data-star="starhalf"></label>
                                        </div>
                                        &nbsp;3.71
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="rate">
                                    <label>Knowledgeability Rating</label>
                                    <div>
                                        <div class="star-rating star-rating-static">
                                            <input type="radio" /><label class="full" data-star="star5"></label>
                                            <input type="radio" /><label class="half" data-star="star4half"></label>
                                            <input type="radio" /><label class="full" data-star="star4"></label>
                                            <input type="radio" checked="" /><label class="half" data-star="star3half"></label>
                                            <input type="radio" /><label class="full" data-star="star3"></label>
                                            <input type="radio" /><label class="half" data-star="star2half"></label>
                                            <input type="radio" /><label class="full" data-star="star2"></label>
                                            <input type="radio" /><label class="half" data-star="star1half"></label>
                                            <input type="radio" /><label class="full" data-star="star1"></label>
                                            <input type="radio" /><label class="half" data-star="starhalf"></label>
                                        </div>
                                        &nbsp;3.71
                                    </div>
                                </div>
                                <div class="rate">
                                    <label>Professionalism Rating</label>
                                    <div>
                                        <div class="star-rating star-rating-static">
                                            <input type="radio" /><label class="full" data-star="star5"></label>
                                            <input type="radio" /><label class="half" data-star="star4half"></label>
                                            <input type="radio" /><label class="full" data-star="star4"></label>
                                            <input type="radio" checked="" /><label class="half" data-star="star3half"></label>
                                            <input type="radio" /><label class="full" data-star="star3"></label>
                                            <input type="radio" /><label class="half" data-star="star2half"></label>
                                            <input type="radio" /><label class="full" data-star="star2"></label>
                                            <input type="radio" /><label class="half" data-star="star1half"></label>
                                            <input type="radio" /><label class="full" data-star="star1"></label>
                                            <input type="radio" /><label class="half" data-star="starhalf"></label>
                                        </div>
                                        &nbsp;3.71
                                    </div>
                                </div>
                                <div class="rate">
                                    <label>Usefulness of Website</label>
                                    <div> - </div>
                                </div>
                                <div class="rate">
                                    <label>Value of Service</label>
                                    <div> - </div>
                                </div>
                                <div class="rate">
                                    <label>Marketing Reach & Lead Generation</label>
                                    <div> - </div>
                                </div>
                                <div class="rate">
                                    <label>Home Prep & Staging Advice</label>
                                    <div> - </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="rate">
                                    <label>For Sale By Owner</label>
                                    <div class="rate-value text-success"><span class="glyphicon glyphicon-ok"></span> YES</div>
                                </div>
                                <div class="rate">
                                    <label>Transaction Type</label>
                                    <div class="rate-value">Buying</div>
                                </div>
                                <div class="rate">
                                    <label>Successful?</label>
                                    <div class="rate-value text-success"><span class="glyphicon glyphicon-ok"></span> Successful</div>
                                </div>
                                <div class="rate">
                                    <label>Recommend</label>
                                    <div class="rate-value text-success"><span class="glyphicon glyphicon-ok"></span> YES</div>
                                </div>
                                <div class="rate">
                                    <label>Property Type</label>
                                    <div class="rate-value">Residential</div>
                                </div>
                                <div class="rate">
                                    <label>Rating submitted</label>
                                    <div class="rate-value">Jul 13, 2015 20:45</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="src/jquery/jquery-1.11.1.min.js"></script>
    <script src="src/bootstrap/js/bootstrap.min.js"></script>
    <script src="src/js/script.js"></script>


