﻿
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!--about-->
            <div class="home-about">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span class="text-red">Rate-My-Agent.com</span> offers unique rating elements you won't find anywhere else. Rating criteria is also tailored to the type of agent you're reviewing.  For real estate agents we include ratings for Marketing Reach and Lead Generation, Home Preparation and Staging Advice, and whether or not the agent Offers to Show For Sale By Owner Listings.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            With mortgage brokers we ask for Mortgage Application Guidance ratings.  Reviews of insurance brokers or agents include a rating for their Handling of Claims.  Other helpful reviewable criteria that applies to all agents includes, Usefulness of Website, Value of Service, Type of Property, and a recommendation that answers, 'Would you use this agent again?'
                        </p>
                    </div>
                </div>
            </div>
            <!--end about-->
        </div>
    </div>
</div>
