﻿<!--latest rating-->
<div class="home-latest">
    <div class="container">
        <h2 class="section-title">Latest Reviews and Ratings</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <!--single 1-->
                <div class="panel panel-default latest-panel">
                    <div class="panel-body">
                        <div class="latest-img pull-left"><img src="~/Content/Images/Agents/photo.jpg" /></div>
                        <div class="latest-header pull-left">
                            <div class="latest-name"><a href="#">Paul Chavady</a></div>
                            <div class="latest-location">Saskatoon, SK</div>
                            <div class="latest-rate">
                                <div class="star-rating star-rating-static">
                                    <input type="radio" /><label class="full" data-star="star5"></label>
                                    <input type="radio" /><label class="half" data-star="star4half"></label>
                                    <input type="radio" /><label class="full" data-star="star4"></label>
                                    <input type="radio" checked="" /><label class="half" data-star="star3half"></label>
                                    <input type="radio" /><label class="full" data-star="star3"></label>
                                    <input type="radio" /><label class="half" data-star="star2half"></label>
                                    <input type="radio" /><label class="full" data-star="star2"></label>
                                    <input type="radio" /><label class="half" data-star="star1half"></label>
                                    <input type="radio" /><label class="full" data-star="star1"></label>
                                    <input type="radio" /><label class="half" data-star="starhalf"></label>
                                </div>
                                &nbsp;3.71
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="latest-review">
                            My experience with Paul was awful. He lied to us about the house having air conditioning when we initally looked at our home. We...
                        </div>
                    </div>
                </div>
            </div>
            <!--end single 1-->
            <!--single 2-->
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default latest-panel">
                    <div class="panel-body">
                        <div class="latest-img pull-left"><img src="~/Content/Images/Agents/mike.jpg" /></div>
                        <div class="latest-header pull-left">
                            <div class="latest-name"><a href="#">Jerry Hallgrimson</a></div>
                            <div class="latest-location">Saskatoon, SK</div>
                            <div class="latest-rate">
                                <div class="star-rating star-rating-static">
                                    <input type="radio" /><label class="full" data-star="star5"></label>
                                    <input type="radio" /><label class="half" data-star="star4half"></label>
                                    <input type="radio" /><label class="full" data-star="star4"></label>
                                    <input type="radio" /><label class="half" data-star="star3half"></label>
                                    <input type="radio" checked="" /><label class="full" data-star="star3"></label>
                                    <input type="radio" /><label class="half" data-star="star2half"></label>
                                    <input type="radio" /><label class="full" data-star="star2"></label>
                                    <input type="radio" /><label class="half" data-star="star1half"></label>
                                    <input type="radio" /><label class="full" data-star="star1"></label>
                                    <input type="radio" /><label class="half" data-star="starhalf"></label>
                                </div>
                                &nbsp;3.3
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="latest-review">
                            My experience with Paul was awful. He lied to us about the house having air conditioning when we initally looked at our home. We...
                        </div>
                    </div>
                </div>
            </div>
            <!--end single 2-->

            <div class="clearfix visible-sm"></div>

            <!--single 3-->
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default latest-panel">
                    <div class="panel-body">
                        <div class="latest-img pull-left"><img src="~/Content/Images/Agents/Marc.jpg" /></div>
                        <div class="latest-header pull-left">
                            <div class="latest-name"><a href="#">Lorri Walters</a></div>
                            <div class="latest-location">Saskatoon, SK</div>
                            <div class="latest-rate">
                                <div class="star-rating star-rating-static">
                                    <input type="radio" /><label class="full" data-star="star5"></label>
                                    <input type="radio" checked="" /><label class="half" data-star="star4half"></label>
                                    <input type="radio" /><label class="full" data-star="star4"></label>
                                    <input type="radio" /><label class="half" data-star="star3half"></label>
                                    <input type="radio" /><label class="full" data-star="star3"></label>
                                    <input type="radio" /><label class="half" data-star="star2half"></label>
                                    <input type="radio" /><label class="full" data-star="star2"></label>
                                    <input type="radio" /><label class="half" data-star="star1half"></label>
                                    <input type="radio" /><label class="full" data-star="star1"></label>
                                    <input type="radio" /><label class="half" data-star="starhalf"></label>
                                </div>
                                &nbsp;4.63
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="latest-review">
                            We sold and bought through Lorri she made our experience worry and hassle free.she was very knowledgeable about...
                        </div>
                    </div>
                </div>
            </div>
            <!--end single 3-->

            <div class="clearfix visible-md"></div>

            <!--single 4-->
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default latest-panel">
                    <div class="panel-body">
                        <div class="latest-img pull-left"><img src="~/Content/Images/Agents/ALENSADA.jpg" /></div>
                        <div class="latest-header pull-left">
                            <div class="latest-name"><a href="#">Paul Chavady</a></div>
                            <div class="latest-location">Saskatoon, SK</div>
                            <div class="latest-rate">
                                <div class="star-rating star-rating-static">
                                    <input type="radio" /><label class="full" data-star="star5"></label>
                                    <input type="radio" /><label class="half" data-star="star4half"></label>
                                    <input type="radio" /><label class="full" data-star="star4"></label>
                                    <input type="radio" checked="" /><label class="half" data-star="star3half"></label>
                                    <input type="radio" /><label class="full" data-star="star3"></label>
                                    <input type="radio" /><label class="half" data-star="star2half"></label>
                                    <input type="radio" /><label class="full" data-star="star2"></label>
                                    <input type="radio" /><label class="half" data-star="star1half"></label>
                                    <input type="radio" /><label class="full" data-star="star1"></label>
                                    <input type="radio" /><label class="half" data-star="starhalf"></label>
                                </div>
                                &nbsp;3.71
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="latest-review">
                            My experience with Paul was awful. He lied to us about the house having air conditioning when we initally looked at our home. We...
                        </div>
                    </div>
                </div>
            </div>
            <!--end single 4-->

            <div class="clearfix visible-sm"></div>

            <!--single 5-->
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default latest-panel">
                    <div class="panel-body">
                        <div class="latest-img pull-left"><img src="~/Content/Images/Agents/Shawn8.jpg" /></div>
                        <div class="latest-header pull-left">
                            <div class="latest-name"><a href="#">Jerry Hallgrimson</a></div>
                            <div class="latest-location">Saskatoon, SK</div>
                            <div class="latest-rate">
                                <div class="star-rating star-rating-static">
                                    <input type="radio" /><label class="full" data-star="star5"></label>
                                    <input type="radio" /><label class="half" data-star="star4half"></label>
                                    <input type="radio" /><label class="full" data-star="star4"></label>
                                    <input type="radio" /><label class="half" data-star="star3half"></label>
                                    <input type="radio" checked="" /><label class="full" data-star="star3"></label>
                                    <input type="radio" /><label class="half" data-star="star2half"></label>
                                    <input type="radio" /><label class="full" data-star="star2"></label>
                                    <input type="radio" /><label class="half" data-star="star1half"></label>
                                    <input type="radio" /><label class="full" data-star="star1"></label>
                                    <input type="radio" /><label class="half" data-star="starhalf"></label>
                                </div>
                                &nbsp;3.3
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="latest-review">
                            My experience with Paul was awful. He lied to us about the house having air conditioning when we initally looked at our home. We...
                        </div>
                    </div>
                </div>
            </div>
            <!--end single 5-->
            <!--single 6-->
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default latest-panel">
                    <div class="panel-body">
                        <div class="latest-img pull-left"><img src="~/Content/Images/Agents/unknown.jpg" /></div>
                        <div class="latest-header pull-left">
                            <div class="latest-name"><a href="#">Lorri Walters</a></div>
                            <div class="latest-location">Saskatoon, SK</div>
                            <div class="latest-rate">
                                <div class="star-rating star-rating-static">
                                    <input type="radio" /><label class="full" data-star="star5"></label>
                                    <input type="radio" checked="" /><label class="half" data-star="star4half"></label>
                                    <input type="radio" /><label class="full" data-star="star4"></label>
                                    <input type="radio" /><label class="half" data-star="star3half"></label>
                                    <input type="radio" /><label class="full" data-star="star3"></label>
                                    <input type="radio" /><label class="half" data-star="star2half"></label>
                                    <input type="radio" /><label class="full" data-star="star2"></label>
                                    <input type="radio" /><label class="half" data-star="star1half"></label>
                                    <input type="radio" /><label class="full" data-star="star1"></label>
                                    <input type="radio" /><label class="half" data-star="starhalf"></label>
                                </div>
                                &nbsp;4.63
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="latest-review">
                            We sold and bought through Lorri she made our experience worry and hassle free.she was very knowledgeable about...
                        </div>
                    </div>
                </div>
            </div>
            <!--end single 6-->

        </div>
    </div>
</div>
<!--end latest rating-->

