﻿
     <!--search-->
<div class="home-search-cont">
    <div class="container text-center">
        <div class="home-search">
            <h2>Hire the Right Agent</h2>

            

            <form class="form-inline form-home-search" action="/Search/Listings" method="get">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="city, agent name or both..." size="40" id="param" name="param" >
                    <input id="sortorder" name="sortorder" type="hidden" value="default" />
                    <input id="v" name="v" type="hidden" value="t" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg btn-search"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end search-->
