﻿@model RMA_SITE.Models.HomeIndexViewModelTopTwenty



@*@{ var connector = " || "; int counter = 1;}
@{foreach (var t_city in Model.top_twenty_cities)
    {
        if (counter == 20) { connector = ""; } else if (counter % 5 == 0) { connector = " <br /> "; } else { connector = " &nbsp;&nbsp; || &nbsp;&nbsp; "; }

        // <li>
        @Html.ActionLink(t_city.name.ToUpper(), "Index", "City", new { city = t_city.name.ToLower(), prov = t_city.prov_state.ToLower() }, null) @Html.Raw(connector)
        // </li>

        counter++;
    }
}*@

   




<!--popular city-->
<div class="home-city">
    <div class="container">
        <h2 class="section-title">Popular Cities</h2>
        <div class="home-city-links">
            <ul>
               
                @{foreach (var t_city in Model.top_twenty_cities)
                    {
                        
                        <li>
                            @Html.ActionLink(t_city.name.ToUpper(), "Index", "City", new { city = t_city.name.ToLower(), prov = t_city.prov_state.ToLower() }, null)
                        </li>

                    }
                }

            </ul>
        </div>
        <p>
            The database of agents and reviews is not limited to the twenty cities listed above.  Review thousands of agents from Canada, USA, and Australia.  Rate-My-Agent.com is open for reviews worldwide.  Wherever you are in the world, publish some love for your favourite agents.
        </p>
    </div>
</div>
<!--end popular city-->
