﻿
@Html.Partial("_SearchBoxPartial")

<!--site main-->
<div class="site-main">
    <div class="container">
        <div class="main-content">
            <h1 class="page-header">About</h1>
            <h4>Our Story at Rate-My-Agent.com: Why Reviews and Ratings Matter</h4>
            <p>Like so many people, we’ve had some ‘above and beyond’ experiences with some agents and we’ve had that dreaded ‘how are you still in business?’ experience.  The purpose of Rate-My-Agent.com is to help people find the right agent for them.</p>

            <p>In the beginning, we only had real estate agent profiles and ratings.  You can now review insurance agents and mortgage brokers.</p>
            <hr />
            <h4>Agents</h4>
            <p>We have referred thousands of clients to agents over the years.  By ensuring your profile is accurate, you’ll be sure to get the referrals you deserve.</p>

            <p>Agents work with each other day in and day out, so don’t hesitate to rate your peers.  Good or bad, people want to know!</p>

            <hr />
            <h4>Social Responsibility</h4>
            <p>We believe businesses have the opportunity to lead by example.  We consider ourselves a social enterprise and challenge other businesses to look at how they can make a positive impact on society.  Social Responsibility is in our DNA at Rate-My-Agent.com. <strong>We pledge 50% of profit to worthy causes!</strong></p>
        </div>
    </div>
</div>
<!--end site main-->
