﻿
@Html.Partial("_SearchBoxPartial")

 <!--site main-->
<div class="site-main">
    <div class="container">
        <div class="main-content">
            <h1 class="page-header">Advertising</h1>
            <h3>Online Advertising for Realtors, Mortgage Brokers, and Insurance Agents</h3>
            <p>If you’ve found your way to this page, you probably already have a good idea of what kind of audience and potential clients you can target with ads on Rate-My-Agent.com.  Here are some options:</p>

            <p>Google Adwords - you can create ads on the Google Adwords platform and target them at Rate-My-Agent.com for whichever markets you desire.</p>

            <p>Custom Ads & Sponsorships - contact us to discuss your idea.  Please be sure to include your phone number and a few good times to reach you.  Ads@Rate-My-Agent.com.</p>
        </div>
    </div>
</div>
<!--end site main-->

