﻿
@Html.Partial("_SearchBoxPartial")

<!--site main-->
<div class="site-main">
    <div class="container">
        <div class="main-content">
            <h1 class="page-header">Contact Rate-My-Agent.com</h1>
            <p><span class="glyphicon glyphicon-envelope"></span> Email: info@Rate-My-Agent.com.</p>
        </div>
    </div>
</div>
<!--end site main-->
