﻿
@model PagedList.IPagedList<RMA_SITE.Models.Agent>
@using PagedList.Mvc;

@*@model IEnumerable<RMA_SITE.Models.Agent>*@


@Html.Partial("_CategoryHeaderPartial")
@Html.Partial("_ListingsLayoutPartial", Model)



















@*<br style="clear:both" />





<div style="width:80%; border:solid 0px #808080; margin: auto; text-align:center;">

    @if (Model.Count() > 0)
    {

        foreach (var item in Model)
        {

            <div style="width:150px; height:225px; border:solid 0px #808080; display:inline-block; ">

                <table style="width:125px;  height:215px; border:solid 0px #808080;">

                    <tr>
                        <td colspan="2">
                            <img src="@item.photo_path" width="125" height="125" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.agent_type)
                        </td>
                        <td>


                            @Html.ActionLink(item.first_name + " " + item.last_name, "Profiles", "Agents", new { id = item.first_name.ToLower() + "-" + item.last_name.ToLower(), city = item.city.ToLower(), agent_id = item.RMA_ID }, null)

                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.city), @Html.DisplayFor(modelItem => item.prov_state)
                        </td>

                        <td align="right">

                            @Html.DisplayFor(modelItem => item.average_overall_rating_cache)
                            <div>
                                @for (var i = 0; i < item.average_overall_rating_cache; i++)
                                {
                                    <text>*</text>
                                }
                            </div>
                        </td>
                    </tr>

                </table>
            </div>



        }

        <br />
        <br />
        <br />
        <br />
        <div style="text-align:center;">


            @Html.PagedListPager(Model, page => Url.Action("RealEstate", new { page }))
            @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        </div>


    }
    else
    {
        <div><br />No Results.</div>
    }

</div>*@