﻿@model IEnumerable<RMA_SITE.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RMA_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.review_summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agent_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.overall_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.friendliness_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.understanding_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.professionalism_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.experience_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.successful)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transaction_type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.property_type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.helpfulness_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responsiveness_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attitude_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verified_reply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verification_key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.market_research_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.home_prep_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.handelling_claims_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mortgage_guidance_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.website_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.service_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.show_home)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recommend_agent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receive_review_notification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RMA_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.review_summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agent_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overall_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.friendliness_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.understanding_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.professionalism_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.experience_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.successful)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transaction_type_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.property_type_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.helpfulness_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responsiveness_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attitude_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verified_reply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verification_key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.market_research_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.home_prep_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.handelling_claims_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mortgage_guidance_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.website_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.service_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.show_home)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recommend_agent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receive_review_notification)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
