﻿@model RMA_SITE.Models.ProField

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProField</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.field_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.field_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RMA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RMA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.field_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.field_value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
