﻿@model IEnumerable<RMA_SITE.Models.ProField>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.field_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RMA_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.field_value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.field_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RMA_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.field_value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
