﻿
@model RMA_SITE.Models.ViewModelAgent
@using RMA_SITE.Helpers

@{
    ViewBag.Title = "Member's arena";
}



<h2>My Profile</h2>  


<br />
<< DISPLAY PROFILE CONTENT >>
<br />
<br />



<div>
    -Edit @Html.ActionLink("ProFields", "Index", "ProFields")
    <ul>
        <li>Cities</li>
        <li>Neighborhoods / Subdivisions</li>
        <li>Specialties</li>
    </ul>
</div>

@Html.ActionLink("Upgrade Account", "Index", "AgentSignUp")



<br />
<br />

<br />