﻿
@{
    ViewBag.Title = "Index";
}

<h2>RMA - Site Administration</h2>


<br />

<ul>
    <li>
        @Html.ActionLink("Admin - Agents", "Index", "AgentAdmin")
    </li>
    <li>
        @Html.ActionLink("Admin - Users", "Index", "UserAdmin")
    </li>
</ul>

<br />

<ul>
    <li>
        @Html.ActionLink("User Roles", "Index", "Role")
    </li>
</ul>




